name: Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  aiida:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Conda config
      run: echo -e "channels:\n  - conda-forge\n" > .condarc
    - uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: "3.12"
        miniforge-version: latest
        condarc-file: .condarc
        environment-file: environment.yml
    - name: Test
      shell: bash -l {0}
      run: |
        pip install python-workflow-definition
        verdi presto --profile-name pwd
        cp .ci_support/test_with_aiida.py .
        python test_with_aiida.py

  jobflow:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Conda config
      run: echo -e "channels:\n  - conda-forge\n" > .condarc
    - uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: "3.12"
        miniforge-version: latest
        condarc-file: .condarc
        environment-file: environment.yml
    - name: Test
      shell: bash -l {0}
      run: |
        pip install python-workflow-definition
        cp .ci_support/test_with_jobflow.py .
        python test_with_jobflow.py

  pyiron:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Conda config
      run: echo -e "channels:\n  - conda-forge\n" > .condarc
    - uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: "3.12"
        miniforge-version: latest
        condarc-file: .condarc
        environment-file: environment.yml
    - name: Test
      shell: bash -l {0}
      run: |
        pip install python-workflow-definition
        cp .ci_support/test_with_pyiron.py .
        python test_with_pyiron.py
